__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

checkpoint/
lightning_logs/
dataset/
danbroou-new/
wandb/
samples/*
flash-attention/

IndexKits copy/

.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Jupyter
.ipynb_checkpoints/
