name: test-run
target: modules.train_sdxl.setup

model:
    name: StableDiffusionXL
    
trainer:
  model_path: /workspace/output/v0.2/ep13/checkpoint-e1_s39259.safetensors
  checkpoint_dir: /workspace/output/v0.2/ep14_15_leaf
  batch_size: 1 #多源设置1 
  seed: 1138
  wandb_id: "noobai"
  use_xformers: true
  accumulate_grad_batches: 1
  # gradient_clip_val: 1.0
  gradient_clipping: 1.0

  save_format: safetensors
  checkpoint_freq: 1
  checkpoint_steps: 1000
  save_weights_only: false
  max_epochs: 1
  max_steps: -1

advanced:
  vae_encode_batch_size: -1 # same as batch_size
  train_text_encoder_1: false
  train_text_encoder_2: false
  text_encoder_1_lr: 3e-6
  text_encoder_2_lr: 3e-6
  offset_noise: true
  offset_noise_val: 0.0375
  min_snr: true
  min_snr_val: 5
  timestep_start: 0
  timestep_end: 1000
  v_parameterization: false
  zero_terminal_snr: false
  do_edm_style_training: false
  gradient_checkpointing: true
  


lightning:
  accelerator: gpu
  devices: -1
  strategy: common.deepspeed._sdxl_strategy_noob
  precision: bf16



dataset:
  name: data.bucket.MultiSourceDataset
  # repeats_source: [1,1] #作废
  shuffle: true

  datasets:
    - name: 1_e621_1024
      class: data.bucket.AspectRatioDataset
      batch_size: 112
      img_path: "/workspace/dataset/1_e621_db"
      parquet_path: "/workspace/dataset/1_e621_db/e621_metadata.parquet"
      dataset_source: "e621"
      target_area: 1_048_576
      min_size: 512
      max_size: 2048
      max_token_length: 225
      load_into_memory: true
      num_workers: 2
      chunk_size_gb: 10
      copy_workers: 6
      

    - name: 1_dan_512
      class: data.bucket.AspectRatioDataset
      batch_size: 512
      img_path: "/workspace/dataset/1_dan_dataset"
      parquet_path: "/workspace/dataset/dan_for_chenkin_25_12_29.parquet"
      dataset_source: "dan"
      # img_path: "/workspace/dataset/1_dan_dataset"
      target_area: 262_144
      min_size: 256
      max_size: 512
      max_token_length: 225
      load_into_memory: true
      num_workers: 3
      chunk_size_gb: 100
      copy_workers: 12
      
    - name: 10_nailong_1024
      class: data.bucket.AspectRatioDataset
      batch_size: 108
      img_path: "/workspace/dataset/10_add_other"
      parquet_path: "/workspace/dataset/dan_for_chenkin_25_12_29.parquet"
      dataset_source: "dan"
      # img_path: "/workspace/dataset/1_dan_dataset"
      target_area: 1_048_576
      min_size: 512
      max_size: 2048
      max_token_length: 225
      load_into_memory: true
      num_workers: 1
      chunk_size_gb: 10
      copy_workers: 8
    # - name: dan_dataset
    #   class: data.bucket.AspectRatioDataset
    #   batch_size: 128
    #   # img_path: "/workspace/dataset/1_e621"
    #   img_path: "/workspace/dataset/1_dan_dataset"
    #   target_area: 1_048_576
    #   min_size: 512
    #   max_size: 2048
    #   max_token_length: 225
    #   load_into_memory: true
    #   num_workers: 6
    #   chunk_size_gb: 100
    #   copy_workers: 16
      




optimizer:
  name: bitsandbytes.optim.AdamW8bit
  params:
    lr: 5e-6
    weight_decay: 1e-2

scheduler:
  name: transformers.get_constant_schedule_with_warmup
  params:
    num_warmup_steps: 0
    last_epoch: -1

# scheduler:
#   name: transformers.get_cosine_schedule_with_warmup
#   params:
#     num_warmup_steps: 0
#     last_epoch: -1
#     num_training_steps: 1000

    
sampling:
  enabled: true
  use_wandb: true
  seed: 1234
  height: 1280
  width: 768
  every_n_steps: 100
  every_n_epochs: 1
  save_dir: "/workspace/output/sample/ep16"
  prompts: 
    - " yunsang,honkai: star rail,stelle /(honkai: star rail/),year 2025,game cg,game cg,highres,1girl,invisible_chair,c:,v_over_eye,bare feet,from_side,knee up"
    - "hikikomari kyuuketsuki no monmon, terakomari gandezblood, 1girl, :d, ahoge, belt, black belt, black bow, blonde hair, blue bow, blue bowtie, blush, bow, bowtie, buttons, concert, cone hair bun, cowboy shot, double-breasted, double bun, eyelashes, fang, floating hair, glowstick, hair between eyes, hair bow, hair bun, hair intakes, hand up, holding, holding microphone, jacket, jewelry, leaning forward, long hair, long sleeves, looking at viewer, microphone, open mouth, outstretched arm, pendant, red eyes, red jacket, sidelocks, slit pupils, smile, solo, v, very long hair,(koujuan:1.1), (rella:1.1), ruoganzhao, (ningen mame:0.7), (watercolor:1.2),masterpiece, best quality, newest, absurdres, highres, high resolution, aesthetic, excellent, year 2025, newest,"
    - "1girl stella sora, tyrant/(stella sora/), female tyrant /(stella sora/), 1girl, ahoge, black dress, black gloves, blue dress, blue eyes, blue hairband, blunt sidelocks, breasts, cellphone, dress, gloves, grey hair, hairband, holding, holding phone, invisible chair, layered dress, long hair, looking at viewer, phone, pointy ears, sidelocks, simple background, sitting, sleeveless, sleeveless dress, small breasts, smartphone, smile, solo, thighhighs, white background, white thighhighs,(koujuan:1.1), (rella:1.1), ruoganzhao, (ningen mame:0.7), (watercolor:1.2),masterpiece, best quality, newest, absurdres, highres, high resolution, aesthetic, excellent, year 2025, newest,"
    - "2girls, fern /(frieren/), frieren beyond journey's suspenders, frieren, (morikura en:0.95), (ogipote:0.9), (quasarcake:0.75), (kachayori:0.8), (toosaka asagi:0.85), (fuzichoco:1.1), void 0, (wlop:0.7), solo, oil skin, shiny skin, dappled sunlight, nature, tree, summer, falling leaves,purple_hair,  large breasts,pointy ears, red earrings, twintails, white capelet, gold trim, striped shirt, dangle earrings,breasts, long hair, bow, leaf, sunlight, sitting on person,clothes lift,  hand on another's chin ,looking at another,  sitting on lap,masterpiece, best quality, amazing quality, absurdres, highres, very aesthetic, 2girls, asymmetrical docking,water, on side,best shadow, colorful, ray tracing, lens flare, sparkle, chromatic aberration, film grain, scenery,"
    - " ye shunguang, 1girl, animal ears, blush, breasts, brown cardigan, brown hair, cardigan, closed mouth, clover hair ornament, collared shirt, droopy ears, fox ears, fox girl, hair intakes, hair ornament, hairband, long hair, long sleeves, looking at viewer, red eyes, school uniform, shirt, solo, v, very long hair, white hairband, white shirt"
    - "artist:moruki,artist:karanagare,artist:daylightallure,artist:sheya_tin,artist:chunbuchou,shorekeeper_(wuthering_waves),1girl,solo,"
    - "nailong,yellow dragon,green eyes,yellow skin, nailong, yellow dragon, waving, green eyes, yellow skin, simple background, white background, open mouth, smile, looking at viewer, solo, no humans, standing, 1other, creature, full body, colored skin, arm up, :d, straight-on"
    - " 1girl, solo, smile, long hair, artoria caster (fate),ssambatea,minenami_ryou,dev_(dev0614),unexistarts,mzh,(artist：creayus:0.8),（artist：uenomigi：0.6）,（massakasama：0.6）"
