name: test-run
target: modules.train_sdxl.setup

model:
    name: StableDiffusionXL
    
trainer:
  model_path: /workspace/output/v0.2/ep13/checkpoint-e1_s39259.safetensors
  checkpoint_dir: /workspace/output/v0.2/ep14_15
  batch_size: 32
  seed: 1138
  wandb_id: "noobai"
  use_xformers: true
  accumulate_grad_batches: 1
  gradient_clip_val: 0.0

  save_format: safetensors
  checkpoint_freq: 1
  checkpoint_steps: 1000
  save_weights_only: true
  max_epochs: 2
  max_steps: -1

advanced:
  vae_encode_batch_size: -1 # same as batch_size
  train_text_encoder_1: false
  train_text_encoder_2: false
  text_encoder_1_lr: 3e-6
  text_encoder_2_lr: 3e-6
  offset_noise: true
  offset_noise_val: 0.0375
  min_snr: true
  min_snr_val: 5
  timestep_start: 0
  timestep_end: 1000
  v_parameterization: false
  zero_terminal_snr: false
  do_edm_style_training: false
  # gradient_checkpointing: true
  
lightning:
  accelerator: gpu
  devices: 8        
  num_nodes: 1        
  precision: bf16-mixed
  strategy: deepspeed 
  strategy_params:   
    stage: 2

dataset:
  name: data.bucket.AspectRatioDataset 
  target_area: 1_048_576 # 1024*1024
  min_size: 512
  max_size: 2048
  # img_path: "/workspace/dataset"
  img_path: "/workspace/dataset"
  # img_path: "/data/200_test"
  # num_workers: 0
  # process_batch_fn: "data.processors.shuffle_prompts_sdstyle"
  max_token_length: 225 # [75, 150, 225]
  load_into_memory: true
  num_workers: 12
optimizer:
  name: bitsandbytes.optim.AdamW8bit
  params:
    lr: 5e-6
    weight_decay: 1e-2

scheduler:
  name: transformers.get_constant_schedule_with_warmup
  params:
    num_warmup_steps: 0
    last_epoch: -1

# scheduler:
#   name: transformers.get_cosine_schedule_with_warmup
#   params:
#     num_warmup_steps: 0
#     last_epoch: -1
#     num_training_steps: 1000

    
sampling:
  enabled: false
  use_wandb: true
  seed: 1234
  height: 1280
  width: 768
  every_n_steps: 100
  every_n_epochs: 1
  save_dir: "samples"
  prompts: 
    - "best quality, a girl with a yellow hat and a yellow shirt, sitting, white legwear, uniform, jacket, thighhighs, bare shoulders, high contrast, paint splatter"
    - "best quality, 1girl, solo, loli, cat girl, silver hair ,blue eyes, flat chest, solo, beautiful detailed background, messy hair, long hair"
    - "masterpiece, best quality, 1girl, solo,loli,wedding dress|see-through highleg leotard, veil, elbow gloves, white thighhighs, crown, earrings, bow on waist, sideboob, lace,"
    - "1girl, solo, shirt, thighhighs, skirt, hands on hips, white shirt, crystal, flandre scarlet, blonde hair, grey skirt, red bow, red eyes, black thighhighs, wings, white background,"
    - "1girl,sitting,fantasy,masterpiece,best quality,(long blonde hair),(blue eyes),(floating hair),(black ribbed sweater:1.1),(red plaid skirt:1.1),(cat ears)"
