name: test-run
target: modules.train_sdxl.setup

model:
    name: StableDiffusionXL

    #设置无效，可能是配置文件读取的问题，转为/models/sgm/model.py中硬编码，现在为0.1 输出打印
    # params:
    #   network_config:
    #     params:
    #       dropout: 0.1
    
trainer:
  model_path: /workspace/output/ep9/checkpoint-e1_s14230.safetensors
  checkpoint_dir: /workspace/output/ep10
  batch_size: 30
  seed: 1138
  wandb_id: "noobai"
  use_xformers: true
  accumulate_grad_batches: 1
  gradient_clip_val: 0.0

  save_format: safetensors
  checkpoint_freq: 1
  checkpoint_steps: 1000
  save_weights_only: true
  max_epochs: 1
  max_steps: -1

advanced:
  vae_encode_batch_size: -1 # same as batch_size
  train_text_encoder_1: false
  train_text_encoder_2: false
  text_encoder_1_lr: 3e-6
  text_encoder_2_lr: 3e-6
  offset_noise: true
  offset_noise_val: 0.0375
  min_snr: true
  min_snr_val: 5
  timestep_start: 0
  timestep_end: 1000
  v_parameterization: false
  zero_terminal_snr: false
  do_edm_style_training: false
  # gradient_checkpointing: true
  
lightning:
  accelerator: gpu
  devices: 8        
  num_nodes: 1        
  precision: bf16-mixed
  strategy: deepspeed 
  strategy_params:   
    stage: 2

dataset:
  name: data.bucket.AspectRatioDataset 
  target_area: 1_048_576 # 1024*1024
  min_size: 512
  max_size: 2048
  img_path: "/workspace/danbooru2024-webp-4Mpixel/images/2"
  # img_path: "/data/200_test"
  num_workers: 0
  # process_batch_fn: "data.processors.shuffle_prompts_sdstyle"
  max_token_length: 225 # [75, 150, 225]
  load_into_memory: false

optimizer:
  name: bitsandbytes.optim.AdamW8bit
  params:
    lr: 5e-6
    weight_decay: 1e-2

scheduler:
  name: transformers.get_constant_schedule_with_warmup
  params:
    num_warmup_steps: 0
    last_epoch: -1

# scheduler:
#   name: transformers.get_cosine_schedule_with_warmup
#   params:
#     num_warmup_steps: 0
#     last_epoch: -1
#     num_training_steps: 1000

    
sampling:
  enabled: false
  use_wandb: true
  seed: 1234
  height: 1280
  width: 768
  every_n_steps: 1
  every_n_epochs: 1000
  save_dir: "samples"
  prompts: 
    - "masterpiece, best quality, 1girl, solo,loli,wedding dress|see-through highleg leotard, veil, elbow gloves, white thighhighs, crown, earrings, bow on waist, sideboob, lace,"
    - "1girl, solo, shirt, thighhighs, skirt, hands on hips, white shirt, crystal, flandre scarlet, blonde hair, grey skirt, red bow, red eyes, black thighhighs, wings, white background,"
    - "1girl,sitting,fantasy,masterpiece,best quality,(long blonde hair),(blue eyes),(floating hair),(black ribbed sweater:1.1),(red plaid skirt:1.1),(cat ears)"
    - "masterpiece, best quality, 1girl, solo,loli,wedding dress|see-through highleg leotard, veil, elbow gloves, white thighhighs, crown, earrings, bow on waist, sideboob, lace,"
    - "1girl, solo, shirt, thighhighs, skirt, hands on hips, white shirt, crystal, flandre scarlet, blonde hair, grey skirt, red bow, red eyes, black thighhighs, wings, white background,"
    - "1girl,sitting,fantasy,masterpiece,best quality,(long blonde hair),(blue eyes),(floating hair),(black ribbed sweater:1.1),(red plaid skirt:1.1),(cat ears)"
    - "scylla_(a_maid's_judgment)_(azur_lane), scylla_(azur_lane), oza_osuwari, azur_lane, commentary_request, textless_version, variant_set, 1boy, 1girl, :d, amazon_position, ancient_egyptian_clothes, barefoot, breasts, cum, ejaculation, girl_on_top, hetero, large_breasts, long_hair, navel, official_alternate_costume, open_mouth, red_eyes, sex, smile, solo_focus, stomach, teeth, thighs, toes, tongue, upper_teeth_only, usekh_collar, white_hair"
    - "shibuya_kanon, yzlkun, love_live!, love_live!_superstar!!, absurdres, commentary, highres, 1girl, black_pantyhose, blush, chair, feet, fingernails, full_body, grey_leg_warmers, hair_between_eyes, knees_up, leg_warmers, legs, long_sleeves, looking_at_viewer, medium_hair, no_shoes, on_chair, open_mouth, orange_hair, pantyhose, pantyhose_under_shorts, purple_eyes, shadow, shorts, simple_background, sitting, smile, solo, swept_bangs, thighs, toenails, toes, twitter_username, white_background"
    
